h1{
	text-align: center;
}

.gallery{
	width: 95%;
	border: 2px solid black;
	margin:0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
}

.gallery img{
	width: 100%;
}

.btn{
	display: flex;
  	justify-content: center;
}

.item{
	border: 2px solid black;
}